{% extends 'canvas_base.html' %}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device=width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="{% static 'canvas_js/style.css' %}"/>
    <title>Canvas</title>

{% endblock head_block %}

{% block content %}
    <div class="content-section">
    <button class="btn btn-outline-primary" onclick="toggleMode(modes.move)"> Move objects around </button>
    <button class="btn btn-outline-primary" onclick="toggleMode(modes.pan)">Toggle Pan</button>
    <button class="btn btn-outline-primary" onclick="toggleMode(modes.drawing)">Toggle Drawing</button>
        <label for='colorPicker'>Change color</label><input id='colorPicker' value="#000000" data-jscolor="">
        <label for='brushSize'>Change brush size</label><input type="number" id='brushSize' min="1" max="20" value="1">
    <button class="btn btn-outline-info" onclick="clearCanvas(canvas, svgState)">Clear</button>
    <button class="btn btn-outline-info" onclick="restoreCanvas(canvas, svgState, bgUrl)">Restore</button>

    <canvas id="canvas"></canvas>

    <div id="bottomButtons">
        <div class="buttonsWrapper">
            <p class="buttonsTitle">Objects</p>
            <div class="buttons">
                <button class="btn btn-outline-secondary" onclick="changeRectMode()">Rectangle</button>
                <button class="btn btn-outline-secondary" onclick="changeCircMode()">Circle</button>
                <button class="btn btn-outline-secondary" onclick="groupObjects(canvas, group, true)">Group</button>
                <button class="btn btn-outline-secondary" onclick="groupObjects(canvas, group, false)">Ungroup</button>z
            </div>

        </div>

        <div class="buttonsWrapper">
            <p class="buttonsTitle">Image</p>
            <input id="myImg" type="file" accept="image/*">
        </div>
    </div>
    </div>

    <script src="{% static 'canvas_js/fabric.min.js' %}"></script>
    <script src="{% static 'canvas_js/jscolor.js' %}"></script>
    <script src="{% static 'canvas_js/canvas.js' %}"></script>
{% endblock content %}