{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="content-section">
     <h1>{{ board.title }} - Settings: </h1>
         <a href="{% url 'del_invites' board.pk %}">Deactivate all invitation links.</a>
        <script>
            console.log('{{ board.pk }}')
            console.log('{{ board.board_string }}')
        </script>
         <h2>Kick user out of the board.</h2>
        <form method="POST" action="{% url 'kick_user' board.pk %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <label>
                    <select id="user_id" name="user_id">
                        {% for value in board.guests_b.all %}
                            <option value="{{ value.pk }}">{{ value.username }}</option>
                        {% endfor %}
                    </select>
                </label>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Kick</button>
            </div>
        </form>
    </div>
{% endblock content %}