{% extends 'canvas_base.html' %}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device=width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="{% static 'canvas_js/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous">

    <!-- Ikonki -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/3c20d8dde7.js" crossorigin="anonymous"></script>

    <title>Canvas</title>

{% endblock head_block %}

{% block content %}
    <div class="content-section">
    <div class="d-flex p-2 justify-content-between">
        <div class="float-left">
            <h1>{{ object.title }}</h1>
        </div>
        <div class="float-left" id="saveButton">
            {% if request.user == object.admin_user_b %}
            <div class="float-left">
                <label for="linkUsage">Max usage number:</label>
                    <input type="number" name="linkUsage" id="linkUsage" value="1">
                </label>
                <button class="btn-lg btn-outline-info" id="code_generate" type="button" data-toggle="collapse" data-target="#collapseInvite" aria-expanded="false" aria-controls="collapseInvite">
                    <i class="material-icons" style="font-size: 2rem;">group_add</i>
                </button>
                <div class="collapse" id="collapseInvite">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text float-left" id="invite_code"></div>
                            <button class="btn btn-outline-secondary" onclick="copyCode(false)">Copy code.</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text h6 float-left" id="invite_link"></div>
                            <button class="btn btn-outline-secondary" onclick="copyCode(true)">Copy link.</button>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="btn-lg btn-outline-success" id="saveBtn"><i class="material-icons" style="font-size: 2rem;">save</i></button>
            {% endif %}
        </div>
    </div>
    <div class="d-flex p-2 justify-content-between">
        <div class="float-left">
            <!--Guziki z narzędziami-->
            <div id="mode-buttons">
                <button class="btn btn-outline-primary" id="move" aria-pressed="true" onclick="toggleMode(modes.move)">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Move object">
                            <i class="bi bi-cursor" style="font-size: 1.25rem;"></i>
                    </span>
                </button>
                <!--</abbr>-->

                <button class="btn btn-outline-primary" id="pan" aria-pressed="true" onclick="toggleMode(modes.pan)">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Move pan">
                        <i class="material-icons">pan_tool</i>
                    </span>
                </button>

                <span>
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleMode(modes.drawing)">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Draw">
                            <i class="material-icons">mode_edit</i>
                        </span>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change brush size">
                            <input type="range" class="form-control-range w-100" id='brushSize' min="1" max="20" value="1" white-space="nowrap">
                        </span>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change color">
                            <input id='colorPicker' value="#000000" data-jscolor="">
                        </span>
                    </div>
                </span>

                <button class="btn btn-outline-primary" id="erase"  aria-pressed="true" onclick="toggleMode(modes.erase)">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Erase">
                        <i class="fas fa-eraser" style="font-size: 1.7rem;"></i>
                    </span>
                </button>

                <button class="btn btn-outline-success" id="Rectangle" aria-pressed="true" onclick="changeRectMode()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Create rectangle">
                        <i class="material-icons">crop_5_4</i>
                    </span>
                </button>

                <button class="btn btn-outline-success" id="Circle"  aria-pressed="true" onclick="changeCircMode()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Create circle">
                        <i class="material-icons">radio_button_unchecked</i>
                    </span>
                </button>

                <button class="btn btn-outline-success" id="Text" aria-pressed="true" onclick="changeTextMode()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Text box">
                        <i class="material-icons">text_fields</i>
                    </span>
                </button>

                <input type="file" name="" id='myImg' accept="image/*" hidden>
                <button class="btn btn-outline-success" onclick="open_file()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Upload image">
                        <i class="material-icons">image</i>
                    </span>
                </button>

                <button class="btn btn-outline-info" onclick="undo()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Undo">
                        <i class="material-icons">undo</i>
                    </span>
                </button>

                <button class="btn btn-outline-info" onclick="redo()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Redo">
                        <i class="material-icons">redo</i>
                    </span>
                </button>

                <button class="btn btn-outline-info" onclick="clearCanvas(canvas, JSONState)">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Clear board">
                        <i class="material-icons">delete</i>
                    </span>
                </button>

                <button class="btn btn-outline-info" onclick="restoreCanvas(canvas, JSONState, bgUrl)">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Restore board (after clear)">
                        <i class="material-icons">restore</i>
                    </span>
                </button>

                <input type="text" id="latexSource">
                <button class="btn btn-outline-primary" id="latex-btn" aria-pressed="true"
                        onclick="loadLatex(document.getElementById('latexSource').value)">Load Latex
                </button>
            </div>
        </div>
        <div class = "d-flex float-left justify-content-sm-between">
            <div class="dropdown float-left">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="exportMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export canvas
                    </button>

                    <div class="dropdown-menu" aria-labelledby="exportMenuButton">
                        <a class="dropdown-item" onclick="exportToPng(canvas)">To PNG</a>
                        <a class="dropdown-item" onclick="exportToJSON(canvas)">To JSON txt file</a>
                    </div>

                    <input type="text" id="latexSource">
                    <button class="btn btn-outline-primary" id="latex-btn" aria-pressed="true"
                            onclick="loadLatex(document.getElementById('latexSource').value)">Load Latex
                    </button>

                </div>



                <div class="dropdown float-left ml-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Background type
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="changeEmptyBackground()">Empty</a>
                        <a class="dropdown-item" onclick="changeCheckeredBackground()">Checkered</a>
                        <a class="dropdown-item" onclick="changeLinesBackground()">Lines</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="canvas-content" id="canvas-content">
        <canvas id="canvas"></canvas>
    </div>
    {{ object.pk|json_script:"board-pk" }}
	{{ request.user.username|json_script:"username" }}

    {% if object.board_string == '' %}
        <script>
            var data = '';
        </script>
        {% else %}
        <script>
            var data = $('<div>').html('{{ object.board_string }}')[0].textContent;
        </script>
        {% endif %}

    </div>

    <!-- It is important to use the SVG configuration of MathJax! -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_SVG"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js"
            integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH"
            crossorigin="anonymous"></script>
    <script src="FileSaver.min.js"></script>
    <script src="canvas-toBlob.js"></script>
    <script src="{% static 'canvas_js/fabric.min.js' %}"></script>
    <script src="{% static 'canvas_js/jscolor.js' %}"></script>
    <script src="{% static 'canvas_js/canvas.js' %}"></script>
	<script>
        function exportToJSON(_canvas) {
            var json = JSON.stringify(_canvas.toJSON(propertiesToInclude));
            console.log(json);
            downloadString(json, 'txt', '{{ object.title }}')
        }

        function downloadString(text, fileType, fileName) {
            var blob = new Blob([text], {type: fileType});
            var a = document.createElement('a');
            a.download = fileName;
            a.href = URL.createObjectURL(blob);
            a.dataset.downloadurl = [fileType, a.download, a.href].join(':');
            a.style.display = "none";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            setTimeout(function () {
                URL.revokeObjectURL(a.href);
            }, 1500);
        }

		function exportToPng(_canvas) {
            console.log("Export to png clicked!")

            let downloadLink = document.createElement('a');
            downloadLink.setAttribute('download', '{{ object.title }}.png');
            let dataURL = _canvas.toDataURL('image/png');
            let url = dataURL.replace(/^data:image\/png/, 'data:application/octet-stream');
            downloadLink.setAttribute('href', url);
            downloadLink.click();
        }
	</script>
    <script>
    {% if request.user == object.admin_user_b %}
        document.getElementById("saveBtn").addEventListener('click', saveCanvas);
        document.getElementById("code_generate").addEventListener('click', generateInviteLink);
    {% endif %}
    window.onload = loadCanvas();
    var generate = true;

    {#function saveCanvas() {#}
        {#    console.log("SAVE_CANVAS_RUN");#}
        {#    var json = JSON.stringify(canvas.toJSON());#}
        {#    console.log(json);#}
        {#    $.post('{% url 'save_canvas' %}', {#}
        {#        canvas_: json,#}
        {#        board_id: {{ object.pk }},#}
        {#        csrfmiddlewaretoken: '{{ csrf_token }}'#}
        {#    }, function (data) {#}
        {#        console.log(data)#}
        {#    });#}
        {#}#}

    function loadCanvas() {
        if (data !== '') {
            canvas.loadFromJSON(data);

            canvas.renderAll();
        }
    }

    {% if request.user == object.admin_user_b %}
        function generateInviteLink() {
            if (generate) {
                var number = document.getElementById("linkUsage").value;

                $.ajax({
                    type: 'POST',
                    url:'{% url 'gen_invite' object.pk %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        number: number
                    },
                    success: function callback(response) {
                        let code = response;

                        document.getElementById('invite_code').innerHTML = code;
                        document.getElementById('invite_link').innerHTML = '{{ request.get_host }}' + '{% url "join" %}' + code  ;

                    }
                })
            }
            else {
                console.log("Skipping!");
            }

            generate = !generate;
        }
    {% endif %}


    function copyCode(link) {
        let copyText;

        if (!link) {
            copyText = document.getElementById('invite_code').innerText;
        }
        else {
            copyText = document.getElementById('invite_link').innerText;
        }

        const tmp = document.createElement("input");
        tmp.type = "text";
        tmp.value = copyText;

        document.body.appendChild(tmp);

        tmp.select();

        document.execCommand("Copy");

        document.body.removeChild(tmp);

        if (!link) {
            alert("Code copied!");
        } else {
            alert("Link copied!");
        }
    }

	        document.getElementById("saveBtn").addEventListener('click', saveCanvas);

            console.log("witam w mojej tablicy");
	        window.onload = loadCanvas();

	        function saveCanvas() {
	            console.log("SAVE_CANVAS_RUN");
	            var json = JSON.stringify(canvas.toJSON(propertiesToInclude));
	            console.log(json);
	            $.post('{% url 'save_canvas' %}', {
	                canvas_: json,
	                board_id: {{ object.pk }},
	                csrfmiddlewaretoken: '{{ csrf_token }}'
	            }, function (data) {
	                console.log(data)
	            });
	        }

	        function loadCanvas() {
	            waitForSocketConnection(boardSocket, () => {
	                console.log("callback!")
	            })
	            console.log("load canvas!")
	            if (data !== '') {
	                canvas.loadFromJSON(data);
	                canvas.renderAll();
	            }
	        }

            function open_file() {
                document.getElementById('myImg').click();
            }
    </script>
{% endblock content %}
