
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas_content {
    width: 95vw;
    height: 20vh;
    border-bottom-color: #428bca;
    border-width: thick;
}

#canvas {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}